/* RESET */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, abbr, img, strong, ul, li,
fieldset, form, figcaption, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.125em;
  font: inherit;
  vertical-align: baseline; }

figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* BASE */
body {
  background: black url("../images/bg.jpeg") center top;
  font-family: 'Abel', arial, sans; }
